[submodule "shared/c-list"]
	path = shared/c-list
	url = https://github.com/c-util/c-list
	branch = :v3
[submodule "shared/c-siphash"]
	path = shared/c-siphash
	url = https://github.com/c-util/c-siphash
[submodule "shared/n-acd"]
	path = shared/n-acd
	url = https://github.com/nettools/n-acd
	branch = :v1
